[user]
	name = Joel Leimbacher
	email = joel.leimbacher@evosys.ch
[pull]
	rebase = true
[core]
	excludesfile = /Users/joelevo/.gitignore_global
	pager = delta
[branch]
	autoSetupRebase = always
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
